<mat-sidenav-container>
	<mat-sidenav class="admin-sidenav" mode="side" opened="true">
		<div class="sidenav-header">
			<span class="header-title">Promoter Panel</span>
		</div>

		<mat-nav-list>
			<a mat-list-item routerLink="events" routerLinkActive="active">
				<mat-icon matListItemIcon>event</mat-icon>
				<span matListItemTitle>Events</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>