<mat-card>
	<img [src]="logoUrl" alt="Logo" class="logo" />
	<h2>Forgot Password</h2>
	<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
		<mat-form-field appearance="fill" class="full-width">
			<mat-label>Email</mat-label>
			<input matInput formControlName="email" type="email" />
			<mat-error *ngIf="forgotPasswordForm.get('email')?.invalid">
				{{ getErrorMessage('email') }}
			</mat-error>
		</mat-form-field>
		<button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">
			Reset Password
		</button>
	</form>
</mat-card>
